<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denúncia #{{ complaint.id }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center mb-4">Denúncia #{{ complaint[0]}}</h1>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class="table-primary">Denunciante</th>
                <td>{{ complaint[1] }}</td>
            </tr>
            <tr>
                <th class="table-primary">Data e Hora</th>
                <td>{{ complaint[2] }}</td>
            </tr>
            <tr>
                <th class="table-primary">Corpo Referente</th>
                <td>{{ complaint[3]}}</td>
            </tr>
            <tr>
                <th class="table-primary">Categoria</th>
                <td>{{ complaint[4]}}</td>
            </tr>
            <tr>
                <th class="table-primary">Severidade</th>
                <td>{{ complaint[5] }}</td>
            </tr>
            <tr>
                <th class="table-primary">Descrição</th>
                <td>{{ complaint[6] }}</td>
            </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
