<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviar Denúncia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
    <div id="complaintContainer" class="container" style="display: flex; flex-direction: column; align-items: start;">
        <h2>Envie uma Denúncia</h2>
        <form id="complaintForm" method="POST" action="/{{waterbody.id}}/complaint_form" style="width: auto; max-width: 600px; display: flex; flex-direction: column; align-items: start;">
            <label for="denunciante" class="form-label">Denunciante:</label>
            <div>{{ username }}</div>

            <br>
        
            <label for="corpoReferente" class="form-label">Corpo Referente</label>
            <div id="corpoReferente">{{ waterbody.name }} / ID: #{{ waterbody.id }}</div>

            <br>
        
            <label for="datahora" class="form-label">Data e Hora</label>
            <input type="datetime-local" class="form-control" id="datahora" name="datahora" required>

            <br>
        
            <label for="categoria" class="form-label">Categoria</label>
            <select class="form-select" id="categoria" name="categoria" required>
                <option value="natural">Natural</option>
                <option value="antropico">Antrópico</option>
            </select>

            <br>
        
            <label for="severidade" class="form-label">Severidade</label>
            <select class="form-select" id="severidade" name="severidade" required>
                <option value="leve">Leve</option>
                <option value="medio">Médio</option>
                <option value="grave">Grave</option>
            </select>

            <br>
        
            <label for="descricao" class="form-label">Descrição</label>
            <textarea class="form-control" id="descricao" name="descricao" rows="3" required></textarea>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>

    <div class="container" id="confirmationModal" style="display:none;">
        <h2>Formulário enviado</h2>        
        Sua Denúncia foi enviada com sucesso.
        <div style="margin-top: 10px;">
            <button type="button" onclick="history.back()" style="margin-right: 10px;">Voltar</button>
            <button type="button" onclick="closeModal()">Fechar</button>
        </div>
    </div>

    <script>
        document.getElementById('complaintForm').addEventListener('submit', function (event) {
            event.preventDefault(); 
    
            var formData = new FormData(this);
    
            fetch('/{{ waterbody.id }}/complaint_form', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('complaintForm').reset();
                    document.getElementById('complaintForm').style.display = 'none';
                    document.getElementById('complaintContainer').style.display = 'none';
                    document.getElementById('confirmationModal').style.display = 'block';
                } else {
                    alert('Houve um erro ao enviar a denúncia.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });

        function closeModal() {
            document.getElementById('confirmationModal').style.display = 'none';
            document.getElementById('complaintContainer').style.display = 'flex';
            document.getElementById('complaintForm').style.display = 'flex';
        }
    </script>
</body>
</html>
