<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denúncia #{{ complaint.id }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
</head>
<body>

<div class="container">
    <h1 style="justify-content: center;">Denúncia #{{ complaint[0]}}</h1>
    <table>
        <tbody>
            <tr>
                <th>Denunciante</th>
                <td>{{ username }}</td>
            </tr>
            <tr>
                <th>Data e Hora</th>
                <td>{{ complaint[2] }}</td>
            </tr>
            <tr>
                <th>Corpo Referente</th>
                <td>{{ complaint[3] }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ complaint[4] }}</td>
            </tr>
            <tr>
                <th>Severidade</th>
                <td>{{ complaint[5] }}</td>
            </tr>
            <tr>
                <th>Descrição</th>
                <td>{{ complaint[6] }}</td>
            </tr>
        </tbody>
    </table>
    
    <div style="margin-top: 10px;">
        <button type="button" onclick="history.back()" style="margin-right: 10px;">Voltar</button>
    </div>
</div>

</body>
</html>
