<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AquaData - Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
</head>
<body>
    <div class="container" style="width: 30vw; display: flex; flex-direction: column; min-height: 80%;">
        <h1 style="text-align: center;">AquaData</h1>
        <form action="/register" method="POST" style="display: flex; flex-direction: column;">
            {% with messages = get_flashed_messages(with_categories=true)%}
                {% if messages %}
                    {% for category, message in messages%}
                        <p class="text-{{ category }}">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <label class="form-label" style="text-align: left;">Registrar como</label>
            <div>
                <div style="display: inline-flex; align-items: start;">
                  <input class="form-check-input" type="radio" name="userType" id="userTypePF" value="PF" checked style="width: auto; height: auto;">
                  <label for="userTypePF">Pessoa Física</label>
                </div>
                <div style="display: inline-flex; align-items: start;">
                  <input class="form-check-input" type="radio" name="userType" id="userTypePJ" value="PJ" style="width: auto; height: auto;">
                  <label for="userTypePJ">Pessoa Jurídica</label>
                </div>
            </div>

          <div id="pfFields" style="display: flex; flex-direction: column; text-align: center;">
              <div>
                  <label for="cpf" class="form-label">CPF</label>
                  <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Insira seu CPF" value="{{ request.form.cpf }}">
              </div>
              <div>
                  <label for="passwordPF" class="form-label">Senha</label>
                  <input type="password" class="form-control" id="passwordPF" name="passwordPF" placeholder="Insira sua senha" value="{{ request.form.passwordPF }}">
              </div>
              <div>
                  <label for="name" class="form-label">Nome</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Insira seu nome" value="{{ request.form.name }}">
              </div>
              <div>
                  <label for="dob" class="form-label">Data de nascimento</label>
                  <input type="date" class="form-control" id="dob" name="dob" value="{{ request.form.dob }}">
              </div>
          </div>

          <div id="pjFields" style="display: none; flex-direction: column; text-align: center;">
              <div>
                  <label for="cnpj" class="form-label">CNPJ</label>
                  <input type="text" class="form-control" id="cnpj" name="cnpj" placeholder="Insira seu CNPJ" value="{{ request.form.cnpj }}">
              </div>
              <div>
                  <label for="passwordPJ" class="form-label">Senha</label>
                  <input type="password" class="form-control" id="passwordPJ" name="passwordPJ" placeholder="Insira sua senha" value="{{ request.form.passwordPJ }}">
              </div>
              <div>
                  <label for="razaoSocial" class="form-label">Razão Social</label>
                  <input type="text" class="form-control" id="razaoSocial" name="razaoSocial" placeholder="Insira razão social" value="{{ request.form.razaoSocial }}">
              </div>
              <div>
                  <label for="representante" class="form-label">Representante</label>
                  <input type="text" class="form-control" id="representante" name="representante" placeholder="Insira representante" value="{{ request.form.representative }}">
              </div>
              <div class="form-check" style="display: inline-flex; margin-top: 15px;">
                  <input type="checkbox" class="form-check-input" id="govInstitution" name="govInstitution" style="width: auto; height: auto;">
                  <label for="govInstitution">É instituição governamental?</label>
              </div>
          </div>

          <div style="margin-top: 10px;">
              <button type="submit">Criar conta</button>
          </div>
      </form>

      <div style="width: 100%; text-align: center; margin-top: 10px;">
          <a href="/login">Já tem uma conta? Faça login</a>
      </div>
  </div>

    <script>
    document.querySelectorAll('input[name="userType"]').forEach((radio) => {
        radio.addEventListener('change', function() {
            const pfFields = document.getElementById('pfFields');
            const pjFields = document.getElementById('pjFields');
            
            if (this.value === 'PF') {
                pfFields.style.display = 'block';
                pjFields.style.display = 'none';
            } else {
                pfFields.style.display = 'none';
                pjFields.style.display = 'block';
            }
        });
    });
    </script>
</body>
</html>
