<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório #{{ report.id }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>

<div class="container">
    <h1 style="justify-content: center;">Relatório #{{ report.id }}</h1>
    <table>
        <tbody>
            <tr>
                <th>Entidade Emissora</th>
                <td>{{ report.issuing_entity }}</td>
            </tr>
            <tr>
                <th>Data e Hora</th>
                <td>{{ report.datetime }}</td>
            </tr>
            <tr>
                <th>Corpo Referente</th>
                <td>{{ report.referenced_waterbody }}</td>
            </tr>
            <tr>
                <th>pH</th>
                <td>{{ report.pH if report.pH is not none else "N/A" }}</td>
            </tr>
            <tr>
                <th>Índice de Biodiversidade</th>
                <td>{{ report.biodiversity_index if report.biodiversity_index is not none else "N/A" }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ report.text }}</td>
            </tr>
        </tbody>
    </table>

    <div style="margin-top: 10px;">
        <button type="button" onclick="history.back()" style="margin-right: 10px;">Voltar</button>
    </div>
</div>

</body>
</html>
