<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulação #{{ simulation.id }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>

<div class="container">
    <h1 style="justify-content: center;">Simulação #{{ simulation.id }}</h1>
    <table>
        <tbody>
            <tr>
                <th>Entidade Emissora</th>
                <td>{{ simulation.issuing_entity }}</td>
            </tr>
            <tr>
                <th>Corpo Referente</th>
                <td>{{ simulation.referenced_waterbody }}</td>
            </tr>
            <tr>
                <th>Severidade</th>
                <td>{{ simulation.severity }}</td>
            </tr>
            <tr>
                <th>Descrição</th>
                <td>{{ simulation.description }}</td>
            </tr>
        </tbody>
    </table>

    <div style="margin-top: 10px;">
        <button type="button" onclick="history.back()" style="margin-right: 10px;">Voltar</button>
    </div>
</div>

</body>
</html>
