<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solução #{{ solution.id }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
</head>
<body>

<div class="container">
    <h1 style="justify-content: center;">Solução #{{ solution.id }}</h1>
    <table>
        <tbody>
            <tr>
                <th>Entidade Emissora</th>
                <td>{{ solution.issuing_entity }}</td>
            </tr>
            <tr>
                <th>Corpo Referente</th>
                <td>{{ solution.referenced_waterbody }}</td>
            </tr>
            <tr>
                <th>Orçamento</th>
                <td>{{ solution.budget }}</td>
            </tr>
            <tr>
                <th>Descrição</th>
                <td>{{ solution.description }}</td>
            </tr>
        </tbody>
    </table>

    <div style="margin-top: 10px;">
        <button type="button" onclick="history.back()" style="margin-right: 10px;">Voltar</button>
    </div>
</div>
</body>
</html>